<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Johann's blog</title>
    <!-- Social media icons -->
    <link href="{% static 'css/zocial.css' %}" rel="stylesheet">

    <!-- My style -->
    <link href="{% static 'css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'css/identity.css' %}" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <div class="wrapper">
        <header style="height: 100px">
            <nav style="width: 100%">
                <ul class="inline-list background-gradient">
                    <li><a class="text-button background-gradient" style="font-weight:bold;" href="{% url 'home:index' %}">Johann Muszynski</a></li>
                    <li><a class="text-button background-gradient" href="{% url 'blog:index' %}">Blog</a></li>
                    {% if user.is_staff %}
                        <li><a class="text-button background-gradient" href="{% url 'admin:index' %}">Admin</a></li>
                        <li><a class="text-button background-gradient" href="{% url 'blog:add_post' %}">Add post</a></li>
                        <li><a class="text-button background-gradient" href="{% url 'blog:view_drafts' %}">Drafts</a></li>
                        <li><a class="text-button background-gradient" href="{% url 'blog:logout' %}">Logout</a></li>
                    {% endif %}
                    <li style="float:right">
                        <div style="margin: 5px">
                            <form id="blog-search" method="post" action="{% url 'blog:search' %}">
                                {% csrf_token %}
                                <input type="text" class="text-input-bar" name="q" size="21" maxlength="120"><input type="submit" value="search" class="text-input-button" >
                            </form>
                            <!-- input class="search-field" type="text" -->
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="content">
            {% block content %}
                <!-- MAIN COLUMN CONTENT GOES HERE -->
            {% endblock %}
        </div>

        <div class="sidebar">
            {% block sidebar %}
                <div class="text-box-gradient">
                    <h3>In a nutshell</h3>
                    <p style="line-height: 1.2;">This is my blog. I like computer graphics and programming and that's what this blog will invariably be about.</p>
                    <p>Find me on:</p>
                    <a class="zocial github icon" target="_blank" style="font-size: 12pt; box-shadow: 1px 1px 1px #666666;" href="https://github.com/Nelarius">Github</a>
                    <!--a class="zocial twitter icon" target="_blank" style="font-size: 12pt; box-shadow: 1px 1px 1px #666666" href="https://twitter.com/Nelarius">Twitter</a-->
                    <a class="zocial linkedin icon" target="_blank" style="font-size: 12pt; box-shadow: 1px 1px 1px #666666;" href="https://www.linkedin.com/in/nelarius">LinkedIn</a>
                    <!--a class="zocial googleplus icon" target="_blank" style="font-size: 12pt; box-shadow: 1px 1px 1px #666666;" href="https://plus.google.com/104915798583653424016/posts">Google+</a-->
                </div>
                <br />

                <div class="text-box-gradient">
                    <h3>Recent posts</h3>
                    <ul>
                    {% for post in sidebar.recent_posts %}
                        <li style="margin-bottom: 6px;"><a href="{% url 'blog:view_post' post.slug %}">{{ post.title }}</a></li>
                    {% endfor %}
                    </ul>
                    <br/>
                    <!-- a class="button" href="">Archive</a -->
                </div>
                <br/>
                
                <div class="text-box-gradient">
                    <h3>Categories</h3>
                    <ul>
                        {% if sidebar.categories %}
                            {% for category, slug in sidebar.categories %}
                                <li><a class="button border-complement-3" href="{% url 'blog:view_category' slug %}">{{ category }}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <br />
                <div class="text-box-gradient">
                    <h3>Tags by popularity</h3>
                    <ul>
                        {% if sidebar.tags %}
                            {% for tag, count in sidebar.tags %}
                                <li><a class="button border-complement-1" href="{% url 'blog:view_tag' tag %}">{{ tag }} ({{ count }})</a></li>
                             {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <br />
            {% endblock %}
        </div>

        <div style="clear: both;"></div>
        <div style="height:40px;"></div>
        <div class="push"></div>
    </div>

    <div class="footer background-gradient">
        <div style="width: 960px; padding-top: 28px; padding-bottom:20px; padding-left: 40px;">
            &copy; Johann Muszynski 2015 // Find me on: &nbsp;
            <a class="zocial github" target="_blank" href="https://github.com/Nelarius">Github</a>
            <!--a class="zocial twitter" target="_blank" href="https://twitter.com/Nelarius">Twitter</a-->
            <a class="zocial linkedin" target="_blank" href="https://www.linkedin.com/in/nelarius">LinkedIn</a>
            <!--a class="zocial googleplus" target="_blank" href="https://plus.google.com/104915798583653424016/posts">Google+</a-->
        </div>
    </div>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-65809105-1', 'auto');
    ga('send', 'pageview');

    </script>
{% block js %}{% endblock %}

</body>
</html>

